---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$fontFamilySansSerif: "Open Sans", helvetica, arial, "Heiti TC", "Microsoft YaHei", sans-serif;
$fontFamilySerif: Georgia, Cambria, "Times New Roman", Times, "Hiragino Sans GB", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", serif;
$fontFamilyContent: $fontFamilySerif;
$fontFamilyCode: "Source Code Pro", monospace;

// Our variables
$base-font-family: $fontFamilyContent;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit:     $base-font-size * $base-line-height;


$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #1646C2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        'layouts/header',
        'layouts/footer',
        'components/logo',
        'components/summary'
;
