<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyArxP0dbgdxnImWsTRx-aeoM_mWlOLySU0",
    authDomain: "otischou-tw.firebaseapp.com",
    databaseURL: "https://otischou-tw.firebaseio.com",
    projectId: "otischou-tw",
    storageBucket: "otischou-tw.appspot.com",
    messagingSenderId: "795840439979",
    appId: "1:795840439979:web:37c2dee761621fe6ceb9ee",
    measurementId: "G-PZNTEMW5B9"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
